// _footer.scss

@use "variables" as *;
@use "mixins" as *;

.footer {
  background-color: #585858 !important;
  color: $brand-white;
  text-align: center;
  padding: 1rem;

  .footer__text {
    margin: 0;
  }
}
