// _footer.scss

@use "variables" as *;
@use "mixins" as *;

.footer {
  background-color: $brand-light !important;
  color: white;
  text-align: center;
  padding: 1rem;

  .footer__text {
    margin: 0;
  }
}
